{% extends "base.html" %}
{% load static %}
<style>
	.container{
        width: 200%;
        margin: 100;
        color: green;
        display: inline-block;
    }
</style>
<body>
	{% block content %}
    <h2 style="text-align:center;">
        <p style="text-align:center;"> This is the homepage, enjoy this royalty free image
        </p>
        <p style="text-align:center;"> Super user: username    password
        </p>
        </h2>
    <img src="/static/homepage.jpg" width="1050" height="700" style="text-align:center;">
	{% endblock %}
</body>

