{% extends "base.html" %}
{% load static %}
<style>
	.container{
        width: 200%;
        margin: 100;
        color: green;
        display: inline-block;
    }
</style>
<body>
	{% block content %}
    <h2>
        <p style="text-align:center;"> Welcome to the graphing section
        </p>
    </h2>
    <h3 style="text-align:center;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="document">
            <button type="submit">Upload</button>
        </form>

        {% if url %}
            <p>File uploaded.</p>
        {% endif %}
    </h3>
    {% endblock %}
</body>