{% extends "base.html" %}
{% load static %}
<style>
	.container{
        width: 200%;
        margin: 100;
        color: green;
        display: inline-block;
    }
</style>
<body>
	{% block content %}
    <h2>
        <p style="text-align:center;"> Welcome to the blog
        </p>
    </h2>
    <h3>
        <p style="text-align:left;"> Although the book I am reading wanted to create a blog, I am more interested on
            creating a graphing page with the ability to choose all kinds of parameters and the ability to upload your
            own dataset.
        </p>
    </h3>
	{% endblock %}
</body>